@import 'app/styles/vars';


.container {
  color: #999;
  padding: 16px 0;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: $body-width;
  }

  & > span:last-of-type {
    font-weight: bold;
  }
}